.Cabeça2{background-color: #000000;color: rgb(255, 255, 255);display:flex; justify-content: space-around;}
.Logo2{width: 10%;}
.Texto{text-align: center;}
.aaaaaaaa{display: flex;}
.fafa{width: 40%;}
.Nelly{width: 40%;}
.rebeca{width: 40%;}
.Rafael{width: 40%;}
footer {
	background-color: #000000;
	color: rgb(255, 255, 255);
	height: 400px;
	margin-top: 70px;
	padding: 70px;
	text-align: center;
	font-size: 16px;
	font-family: Arial, sans-serif;
  }
